<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<md-dialog aria-label="Remove Assessment" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Remove Assessment</h2>
                <span flex></span>
                <md-button ng-click="cancel()">
                    Cancel
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>

            <div class="md-dialog-content">

                <form layout="column" class="md-padding" style="padding-top: 0;">
                    <div layout="row" layout-sm="column">
                        <div flex style="position: relative;">
                            <h2 class="md-subhead" style="position: absolute; bottom: 0; left: 0; margin: 0; font-weight: 500; text-transform: uppercase; line-height: 35px; white-space: nowrap;">Add a New Tab:</h2>
                        </div>
                        <md-input-container>
                            <label for="assessment">Assessment</label>
                            <input type="text" id="assessment" ng-model="tAssessment">
                        </md-input-container>
                        <md-button class="add-tab md-primary md-raised" ng-disabled="!tAssessment" ng-click="answer(tAssessment)" style="margin-right: 0;">Remove Tab</md-button>
                    </div>
                </form>

            </div>

            <!--<div class="md-menu-demo menudemoBasicUsage" ng-controller="BasicDemoCtrl as ctrl" ng-cloak="" >

                <div class="menu-demo-container" layout-align="center center" layout="column">

                    <md-menu>

                        <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="ctrl.openMenu($mdOpenMenu, $event)">
                            <md-icon md-menu-origin="" md-svg-icon="call:phone"></md-icon>
                        </md-button>

                        <md-menu-content width="4">

                            <md-menu-item>
                                <md-button ng-click="ctrl.redial($event)">
                                    Redial
                                </md-button>
                            </md-menu-item>

                            <md-menu-item>
                                <md-button disabled="disabled" ng-click="ctrl.checkVoicemail()">
                                    Check voicemail
                                </md-button>
                            </md-menu-item>

                            <md-menu-item>
                                <md-button ng-click="ctrl.toggleNotifications()">
                                    {{ctrl.notificationsEnabled ? 'Disable' : 'Enable' }} notifications
                                </md-button>
                            </md-menu-item>

                        </md-menu-content>
                    </md-menu>

                </div>
            </div>-->



        </md-dialog-content>
    </form>
</md-dialog>

</body>
</html>