<!DOCTYPE html>
    <html>
    <head>
        <title>Semester Dashboard</title>
        <link rel="stylesheet" href="../node_modules/angular-material/angular-material.min.css"/>
        <link rel="stylesheet" href="../node_modules/angular-material-data-table/dist/md-data-table.min.css"/>
        <link rel="stylesheet" href="../node_modules/angular-chart/angular-chart.css"/>
        <link href="../css/style.css" rel="stylesheet" type="text/css">

    </head>
<body ng-app="firstApplication" layout="column">

<md-toolbar class="navbar" layout="column" style="font-size: large" md-whiteframe="5">
    <div layout="row">
        <div layout="column">
            <img class="logo" src="http://www.fiu.edu/_assets/images/core/fiu-logo-large.png">
            <br><br>
            <span layout="row">
            <md-button href="../overallgpadashboard/OvrlDash.html">GPA DASHBOARD</md-button>
            <md-button href="semesterDashboard.html">SEMESTER DASHBOARD</md-button>
            <md-button href="../common_files/settings.html">SETTINGS</md-button>
            <md-button>HELP</md-button>
            <md-button href="../common_files/logout.php">LOGOUT</md-button>
            </span>
        </div>
        <span flex></span>
        <img class="profilePic" src="../img/blank-profile-picture.png">
    </div>
</md-toolbar>

<div layout="column" flex>
<div class="content">
    <h1>SEMESTER DASHBOARD</h1>
    <div ng-controller="checkForecastController" layout="row">
        <h2>CURRENT COURSES</h2>
        <span flex></span>
        <md-button class="md-fab generate" aria-label="Generate Forecast" ng-click="checkGenerateForecast()">
            <md-tooltip md-direction="left" md-visible="tooltipVisible">Generate Forecast</md-tooltip>
            <md-icon md-svg-src="../img/document.svg"></md-icon>
        </md-button>
    </div>
    <br>
    <div layout="row">
        <div class="table" flex> <!--after implementing todo list, change flex to flex="60"-->
            <md-card ng-controller="dashboardTableController">
                <md-table-container>
                    <table md-table md-row-select="options.rowSelection"  ng-model="selected" md-progress="promise">
                        <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
                        <tr md-row>
                            <th style="color:#ffffff;" md-column md-order-by="id" md-desc><span>Course ID</span></th>
                            <th style="color:#ffffff;" md-column md-numeric md-order-by="name"><span>Course Name</span></th>
                            <th style="color:#ffffff;" md-column md-numeric md-order-by="credits"><span>Credits</span></th>
                            <th style="color:#ffffff;" md-column md-numeric md-order-by="grade"><span>Current Grades</span></th>
                        </tr>
                        </thead>
                        <tbody md-body>
                        <tr md-row md-select="courses" md-on-select="logItem"  ng-repeat="courses in courses.data | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                            <td md-cell>{{courses.id}}</td>
                            <td md-cell>{{courses.name}}</td>
                            <td md-cell>{{courses.credits}}</td>
                            <td md-cell>{{courses.grade}}</td>
                        </tr>
                        </tbody>
                    </table>
                </md-table-container>
            </md-card>
        </div>

        <!--<div class="todo" flex="40">
            <img src="../img/to-do.png">
        </div>-->
    </div>

    <div class="graph" ng-controller="LineCtrl" style="height:450px; width:100%;">
        <h2>GRADE TRENDS FOR ALL COURSES</h2>
        <div layout="row">
            <p layout="row" layout-align="end center" style="font-size:small">Running Grade</p>
            <canvas style="display: block; margin:auto;" class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="true"  chart-hover="onHover" chart-series="series" height="450" width="1000"></canvas>
        </div>
        <p layout="row" layout-align="center start" style="font-size:small">Date</p>
    </div>

</div>
    <md-toolbar class="footer"></md-toolbar>

</div>

<script src="../node_modules/angular/angular.min.js"></script>
<script src="../node_modules/angular-animate/angular-animate.js"></script>
<script src="../node_modules/angular-aria/angular-aria.min.js"></script>
<script src="../node_modules/angular-messages/angular-messages.js"></script>
<script src="../node_modules/angular-material/angular-material.min.js"></script>
<script src="../node_modules/angular-material-data-table/dist/md-data-table.min.js"></script>
<script src="../node_modules/angular-chart/Chart.min.js"></script>
<script src="../node_modules/angular-chart/angular-chart.min.js"></script>
<script src="../angularjs/controllers/semesterDashboardController.js"></script>

</body>


</html>
