<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description" content="Angular Material: UI Components with Dynamic Data">

    <link rel="stylesheet" href="../node_modules/angular-material-data-table/dist/md-data-table.min.css"/>
    <link rel="stylesheet" href="../node_modules/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="../node_modules/angular-chart/angular-chart.css"/>


    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <link href="../css/style2.css" rel="stylesheet" type="text/css">


</head>
<body ng-app="myApp" layout="column" ng-controller="ovrlDashCtrl as ctrl">

<div class="container">

    <md-toolbar class="navbar" layout="column" style="font-size: large" md-whiteframe="5">
        <!--<span class="logo">-->
        <div layout="row">
            <div layout="column">
                <img class="logo" src="http://www.fiu.edu/_assets/images/core/fiu-logo-large.png">
                <br><br>
                <span layout="row">
                <md-button href="OvrlDash.html">GPA DASHBOARD</md-button>
                <md-button href="../sem_dashboard/semesterDashboard.html">SEMESTER DASHBOARD</md-button>
                <md-button href="../common_files/settings.html">SETTINGS</md-button>
                <md-button href="../common_files/help.html">HELP</md-button>
                <md-button href="../common_files/logout.php">LOGOUT</md-button>
                </span>
            </div>

            <span flex></span>
            <img class="profilePic" src="../img/blank-profile-picture.png">
        </div>
        <!--</span>-->
    </md-toolbar>

    <div layout-padding>

        <div layout="row" flex style=" height: 450px" class="noPad" ng-cloak>

            <div layout="column" layout-align="space-around stretch" class="leftColumn" md-whiteframe="2">
                <div layout="column" layout-align="center center" flex>
                    <h4>Current Program:</h4> &nbsp
                    <span>{{currentProgram}}</span>
                </div>
                <div layout="column" layout-align="center center">
                    <h4>Target Program</h4> &nbsp &nbsp
                    <div class="target" >
                        <md-autocomplete
                                md-input-maxlength="50"
                                md-selected-item="targetProgram"
                                md-search-text="searchText"
                                md-items="item in programs | filter:searchText"
                                md-item-text="item.name"
                                md-selected-item-change="changeTargetGPA(targetGPA)"
                                md-min-length="0"
                                md-floating-label=".">
                            <md-item-template>
                                <span md-highlight-text="searchText" style="text-align: center;" >{{item.name}}</span>
                            </md-item-template>
                        </md-autocomplete>
                    </div>
                </div>
                <div layout="column" layout-align="center center" flex>
                    <h4>Current GPA:</h4>
                    <span>{{gpa}}</span>
                </div>
                <div layout="column" layout-align="center center" flex>
                    <h4>Target GPA</h4> &nbsp
                    <span>{{targetGPA}}</span>

                    <div layout="column" class="slider" layout-align="center center" flex ng-model="target" ng-show="showSlider()">
                        <md-slider style="width: 80%;" md-discrete ng-model="targetGPA" step=".1" min="2" max="4">
                        </md-slider>
                    </div>
                </div>
                <div layout="column" layout-align="center center" flex>
                    <md-button class="md-fab generate" aria-label="Generate Forecast" ng-click="generateForecast()">
                        <md-tooltip md-direction="right" md-visible="tooltipVisible">Generate Forecast</md-tooltip>
                        <md-icon md-svg-src="../img/document.svg"></md-icon>
                    </md-button>
                </div>

            </div>

            <div id="taken" layout="column" flex class="table-size" ng-cloak>
                <md-toolbar class="md-table-toolbar md-default">
                    <div class="md-toolbar-tools">
                        <span class="tableHeading">Courses Taken</span>
                        <div flex></div>
                        <md-button class="md-fab md-mini" ng-click="expandTaken()">
                            <md-tooltip md-direction="left" md-visible="tooltipVisible">Expand All</md-tooltip>
                            <md-icon md-svg-src="../img/expand.svg"></md-icon>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-table-container md-whiteframe="2" md-dynamic-height>
                    <table md-table md-row-select ng-model="selectTaken">
                        <thead md-head md-order="queryTaken.order">
                        <tr md-row>
                            <th style="color:#ffffff;" md-column md-order-by="name"><span>Courses Taken</span></th>
                            <th style="color:#ffffff;" md-column md-order-by="req"><span>All Required</span></th>
                        </tr>
                        </thead>
                        <tbody md-body>
                        <tr md-row md-select="bucket" md-on-select="getChildren" md-auto-select="true"
                            ng-repeat="bucket in displayTaken | filter: filter.search | orderBy: queryTaken.order | limitTo: queryTaken.limit : (queryTaken.page -1) * queryTaken.limit">
                            <td md-cell>{{bucket.name}}</td>
                            <td md-cell>{{bucket.req}}</td>
                        </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <md-table-pagination md-limit="queryTaken.limit" md-page="queryTaken.page" md-total="{{countTaken}}"></md-table-pagination>
            </div >

            <div id="takenChild" layout="column" flex class="table-size"  style="display:none">
                <md-toolbar class="md-table-toolbar md-default">
                    <div class="md-toolbar-tools">
                        <span class="tableHeading">Courses Taken</span>
                    </div>
                </md-toolbar>
                <md-table-container md-whiteframe="2" md-dynamic-height>
                    <table md-table md-row-select ng-model="selectTaken">
                        <thead md-head md-order="queryTaken.order">
                        <tr md-row>
                            <th style="color:#ffffff;" md-column md-order-by="name"><span>Courses Taken</span></th>
                            <th style="color:#ffffff;" md-column md-order-by="req"><span>All Required</span></th>
                        </tr>
                        </thead>
                        <tbody md-body>
                        <tr md-row>
                            <td class="buckets" md-cell>{{bucketTaken}}</td>
                            <td></td>
                        </tr>
                        <tr md-row md-select="bucket" md-on-select="getChildren" md-auto-select="true"
                            ng-repeat="bucket in displayTaken | filter: filter.search | orderBy: queryTaken.order | limitTo: queryTaken.limit : (queryTaken.page -1) * queryTaken.limit">
                            <td md-cell>{{bucket.name}}</td>
                            <td md-cell>{{bucket.req}}</td>
                        </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <div layout="row" class="tablel-div" layout-align="space-between end">
                    <md-button class="table-button" ng-click="takenBack()">BACK</md-button>
                    <md-table-pagination md-limit="queryTaken.limit"md-page="queryTaken.page" md-total="{{countTaken}}"></md-table-pagination>
                </div>
            </div>

            <div id="takenCourses" layout="column" flex class="table-size"  style="display:none">
                <md-toolbar class="md-table-toolbar md-default">
                    <div class="md-toolbar-tools">
                        <span class="tableHeading">Courses Taken</span>
                    </div>
                </md-toolbar>
                <md-table-container md-whiteframe="2" md-dynamic-height>
                    <table md-table>
                        <thead md-head md-order="queryTaken.order">
                        <tr md-row>
                            <th style="color:#ffffff;" md-column md-order-by="name"><span>CourseID</span></th>
                            <th style="color:#ffffff;" md-column md-order-by="req"><span>Grade</span></th>
                            <th style="color:#ffffff;" md-column md-order-by="req"><span>Credits</span></th>
                        </tr>
                        </thead>
                        <tbody md-body>
                        <tr md-row>
                            <td class="buckets" md-cell>{{bucketTaken}}</td>
                            <td></td>
                        </tr>
                        <tr md-row
                            ng-repeat="bucket in displayTaken | filter: filter.search | orderBy: queryTaken.order | limitTo: queryTaken.limit : (queryTaken.page -1) * queryTaken.limit">
                            <td md-cell>{{bucket.courseID}}</td>
                            <td md-cell>{{bucket.grade}}</td>
                            <td md-cell>{{bucket.credits}}</td>
                        </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <div layout="row" class="tablel-div" layout-align="space-between end">
                    <md-button class="table-button" ng-click="takenBack()">BACK</md-button>
                    <md-table-pagination md-limit="queryTaken.limit" md-page="queryTaken.page" md-total="{{countTaken}}"></md-table-pagination>
                </div>
            </div>

            <div id="allTakenCourses" layout="column" flex class="table-size" style="display:none">
                <md-toolbar class="md-table-toolbar md-default">
                    <div class="md-toolbar-tools">
                        <span class="tableHeading">Courses Taken</span>
                        <div flex></div>
                        <md-button class="md-fab" ng-click="collapseTaken()">
                            <md-tooltip md-direction="left" md-visible="tooltipVisible">Collapse All</md-tooltip>
                            <md-icon md-svg-src="../img/collapse.svg"></md-icon>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-table-container md-whiteframe="2" md-dynamic-height>
                    <table md-table>
                        <thead md-head md-order="queryTaken.order">
                        <tr md-row>
                            <th style="color:#ffffff;" md-column md-order-by="name"><span>CourseID</span></th>
                            <th style="color:#ffffff;" md-column md-order-by="req"><span>Grade</span></th>
                            <th style="color:#ffffff;" md-column md-order-by="req"><span>Credits</span></th>
                        </tr>
                        </thead>
                        <tbody md-body>
                        <tr md-row
                            ng-repeat="bucket in displayTaken | filter: filter.search | orderBy: queryTaken.order | limitTo: queryTaken.limit : (queryTaken.page -1) * queryTaken.limit">
                            <td md-cell>{{bucket.courseID}}</td>
                            <td md-cell>{{bucket.grade}}</td>
                            <td md-cell>{{bucket.credits}}</td>
                        </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <md-table-pagination md-limit="queryTaken.limit"md-page="queryTaken.page" md-total="{{countTaken}}"></md-table-pagination>
            </div>

            <div id="needed" layout="column" flex class="table-size" ng-cloak>
                <div class="md-toolbar-tools">
                    <span class="tableHeading">Courses Needed</span>
                    <div flex></div>
                    <md-button class="md-fab md-mini" ng-click="expandNeeded()">
                        <md-tooltip md-direction="left" md-visible="tooltipVisible">Expand All</md-tooltip>
                        <md-icon md-svg-src="../img/expand.svg"></md-icon>
                    </md-button>
                </div>
                <md-table-container md-whiteframe="2">
                    <table md-table md-row-select ng-model="selectNeeded">
                        <thead md-head md-order="queryNeeded.order">
                        <tr md-row>
                            <th style="color:#ffffff;" md-column md-order-by="name"><span>Courses Needed</span></th>
                            <th style="color:#ffffff;" md-column md-order-by="req"><span>All Required</span></th>
                        </tr>
                        </thead>
                        <tbody md-body>
                        <tr md-row md-select="bucket" md-on-select="getChildrenNeeded" md-auto-select="true"
                            ng-repeat="bucket in displayNeeded | filter: filter.search | orderBy: queryNeeded.order | limitTo: queryNeeded.limit : (queryNeeded.page -1) * queryNeeded.limit">
                            <td md-cell>{{bucket.name}}</td>
                            <td md-cell>{{bucket.req}}</td>
                        </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <md-table-pagination md-limit="queryNeeded.limit" md-page="queryNeeded.page" md-total="{{countNeeded}}"></md-table-pagination>
            </div>

            <div id="neededChild" layout="column" flex class="table-size" style="display:none">
                <md-toolbar class="md-table-toolbar md-default">
                    <div class="md-toolbar-tools">
                        <span class="tableHeading">Courses Needed</span>
                    </div>
                </md-toolbar>
                <md-table-container md-whiteframe="2">
                    <table md-table md-row-select ng-model="selectNeeded">
                        <thead md-head md-order="queryNeeded.order">
                        <tr md-row>
                            <th style="color:#ffffff;" md-column md-order-by="name"><span>Courses Needed</span></th>
                            <th style="color:#ffffff;" md-column md-order-by="req"><span>All Required</span></th>
                        </tr>
                        </thead>
                        <tbody md-body>
                        <tr md-row>
                            <td class="buckets" md-cell>{{bucketNeeded}}</td>
                            <td></td>
                        </tr>
                        <tr md-row md-select="bucket" md-on-select="getChildrenNeeded" md-auto-select="true"
                            ng-repeat="bucket in displayNeeded | filter: filter.search | orderBy: queryNeeded.order | limitTo: queryNeeded.limit : (queryNeeded.page -1) * queryNeeded.limit">
                            <td md-cell>{{bucket.name}}</td>
                            <td md-cell>{{bucket.req}}</td>
                        </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <div layout="row" class="tablel-div" layout-align="space-between end">
                    <md-button class="table-button" ng-click="neededBack()">BACK</md-button>
                    <md-table-pagination md-limit="queryNeeded.limit" md-page="queryNeeded.page" md-total="{{countNeeded}}"></md-table-pagination>
                </div>
            </div>

            <div id="neededCourses" layout="column" flex class="table-size" style="display:none">
                <md-toolbar class="md-table-toolbar md-default">
                    <div class="md-toolbar-tools">
                        <span class="tableHeading">Courses Needed</span>
                    </div>
                </md-toolbar>
                <md-table-container md-whiteframe="2">
                    <table md-table md-row-select ng-model="selectNeeded">
                        <thead md-head md-order="queryNeeded.order">
                        <tr md-row>
                            <th style="color:#ffffff;" md-column md-order-by="name"><span>CoursesID</span></th>
                            <th style="color:#ffffff;" md-column md-order-by="req"><span>Credits</span></th>
                            <th style="color:#ffffff;" md-column md-order-by="req"><span>Weight</span></th>
                            <th style="color:#ffffff;" md-column md-order-by="req"><span>Relevance</span></th>
                        </tr>
                        </thead>
                        <tbody md-body>
                        <tr md-row>
                            <td class="buckets" md-cell>{{bucketNeeded}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr md-row md-select="course" md-on-select="change" md-auto-select="true"
                            ng-repeat="course in displayNeeded | filter: filter.search | orderBy: queryNeeded.order | limitTo: queryNeeded.limit : (queryNeeded.page -1) * queryNeeded.limit">
                            <td md-cell>{{course.courseID}}</td>
                            <td md-cell>{{course.credits}}</td>
                            <td md-cell>{{course.weight}}</td>
                            <td md-cell>{{course.relevance}}</td>
                        </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <div layout="row" class="tablel-div" layout-align="space-between end">
                    <md-button class="table-button" ng-click="neededBack()">BACK</md-button>
                    <md-table-pagination md-limit="queryNeeded.limit" md-page="queryNeeded.page" md-total="{{countNeeded}}"></md-table-pagination>
                </div>
            </div>

            <div id="allNeededCourses" layout="column" flex class="table-size" style="display:none">
                <md-toolbar class="md-table-toolbar md-default">
                    <div class="md-toolbar-tools">
                        <span class="tableHeading">Courses Needed</span>
                        <div flex></div>
                        <md-button class="md-fab" ng-click="collapseNeeded()">
                            <md-tooltip md-direction="left" md-visible="tooltipVisible">Collapse All</md-tooltip>
                            <md-icon md-svg-src="../img/collapse.svg"></md-icon>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-table-container md-whiteframe="2">
                    <table md-table md-row-select ng-model="selectNeeded">
                        <thead md-head md-order="queryNeeded.order">
                        <tr md-row>
                            <th style="color:#ffffff;" md-column md-order-by="name"><span>CoursesID</span></th>
                            <th style="color:#ffffff;" md-column md-order-by="req"><span>Credits</span></th>
                            <th style="color:#ffffff;" md-column md-order-by="req"><span>Weight</span></th>
                            <th style="color:#ffffff;" md-column md-order-by="req"><span>Relevance</span></th>
                        </tr>
                        </thead>
                        <tbody md-body>
                        <tr md-row md-select="course" md-on-select="change" md-auto-select="true"
                            ng-repeat="course in displayNeeded | filter: filter.search | orderBy: queryNeeded.order | limitTo: queryNeeded.limit : (queryNeeded.page -1) * queryNeeded.limit">
                            <td md-cell>{{course.courseID}}</td>
                            <td md-cell>{{course.credits}}</td>
                            <td md-cell>{{course.weight}}</td>
                            <td md-cell>{{course.relevance}}</td>
                        </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <md-table-pagination md-limit="queryNeeded.limit" md-page="queryNeeded.page" md-total="{{countNeeded}}"></md-table-pagination>
            </div>
        </div>

    </div>

    <div ng-controller="graphController" style="height:300px; width:90%;">
        <h2>GPA HISTORY</h2>
        <div layout="row">
            <p layout="row" layout-align="end center" style="font-size:small">Running<br>GPA</p>
            <canvas style="display: block; margin:auto;" class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="true"  chart-hover="onHover" chart-series="series" height="300" width="900"></canvas>
        </div>
        <p layout="row" layout-align="center start" style="font-size:small">Semester</p></i></p>
    </div>

    <!--<md-toolbar class="footer"></md-toolbar>-->

</div>


<script src="../node_modules/angular/angular.min.js"></script>
<script src="../node_modules/angular-animate/angular-animate.min.js"></script>
<script src="../node_modules/angular-aria/angular-aria.min.js"></script>
<script src="../node_modules/angular-material/angular-material.min.js"></script>
<script src="../node_modules/angular-material-data-table/dist/md-data-table.min.js"></script>
<script src="../node_modules/angular-chart/Chart.min.js"></script>
<script src="../node_modules/angular-chart/angular-chart.min.js"></script>
<script src="ovrlDashCtrl.js"></script>

</body>
</html>